@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-input-number-input {
  height: 38px;
  border-radius: 4px !important;
}

.container {
  max-width: 1700px !important;
}

.ant-table-thead .ant-table-cell {
  background-color: theme('colors.indigo.200') !important;
}

.table-striped-rows tr:nth-child(2n) td {
  background-color:  theme('colors.indigo.50');
}

.ant-table-cell {
  padding: 10px !important;
}

.ant-table-cell:has(button) {
  padding: 0px 12px !important;
}

.rotate {
  animation: rotateAnimation 0.5s linear;
}

body, label, li, tr, td, span, h1 {
  font-family: 'Poppins', sans-serif;
}

.ant-btn:hover {
  background-color: rgb(251 191 36 / var(--tw-bg-opacity)) !important
}

.ant-form-item-label {
  padding: 0 !important;
  font-weight: 600 !important;
}

.ant-form-item .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  content: none !important;
}