@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

.ant-btn:hover {
  background-color: rgb(251 191 36 / var(--tw-bg-opacity)) !important
}

.ant-form-item-label {
  padding: 0 !important;
  font-weight: 600 !important;
}

.ant-form-item .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  content: none !important;
}